<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm" style="max-width: 400px; border-radius: 0.5rem;">
        <div class="card-body text-center">
            <img src="./logo.png" class="img-fluid mb-4" style="max-height: 150px;" alt="Fair Reviews Logo" />
            <h3 class="mb-4">Welcome to Fair Reviews!</h3>
            <button class="btn btn-primary btn-lg" (click)="loginWithGitHub()">
                Log in with GitHub
            </button>
        </div>
    </div>
</div>