/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.btn-primary {
    background-color: #3182bd;
    border-color: #3182bd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #256ea0;
    /* Darker shade for hover, focus, and active states */
    border-color: #256ea0;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3rem;
    border-top-color: #3182bd;
    border-right-color: #256ea0;
    border-left-color: #6baed6;
    border-bottom-color: white;
}

.btn-secondary {
    background-color: #f57c00;
    border-color: #f57c00;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #e64a19;
    /* Darker shade for hover, focus, and active states */
    border-color: #e64a19;
}

.modal-header {
    background-color: #f57c00;
    color: white;
}